*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #D6E1F0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
div{
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    margin-top: 45%;
}
div img{
    width: 100%;
    border-radius: 10px;
    margin: auto;
}
div h1 {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 20px;
}
div p{
    font-size: 18px;
    color: rgb(82, 80, 80);
}

@media  screen and (min-width:480px)  and (max-width:1200px){
    div{
       margin: auto;
       width: 450px;
       margin-top: 30%;
    }
    div h1 {
        font-size: 30pxpx;
    }
    div p {
        font-size: 24px;
    }
}
@media screen and (min-width:1201px) {
    div{
       margin: auto;
       width: 450px;
       margin-top: 5%;
    }
    div h1 {
        font-size: 30pxpx;
    }
    div p {
        font-size: 24px;
    }
}