*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0A0C1B;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    background-color: #1C1937;
    margin: 30px;
    overflow: hidden;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
}

main h1{
    font-size: 30px;
    margin: 30px 20px;
    line-height: 40px;
}
main span{
    color: #6B3989;
}
.container > p {
    font-size: 18px;
    line-height: 28px;
    margin: 0 15px 30px 15px;
}
.status{
    text-transform: uppercase;
    padding: 12px;
}
.status p{
    padding-top: 15px;
}
.img{
    position: relative;
}
.img:after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ca42f382;
}
.img img{
    width: 100%;
    height: auto;
    display: block;
}

@media screen and (min-width:1200px) {
    main{
        margin: auto;
        width: 1000px;
        padding-bottom: 0px;
        text-align: left;
        margin-top: 5%;
    }
    main h1 {
        font-size: 37px;
        padding-top: 25px;
    }
    .container{
        display: flex;
        flex-flow: row-reverse nowrap;
    }
    .conteudo{
        width: 60%;
        padding-left: 30px;
        padding-right: 80px;
    }
    .conteudo > p {
        padding-left: 15px;
        line-height: 30px;
        font-size: 18px;
    }
    .img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .container-status{
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
    }
    .container-status p {
        font-size: 14px;
        color: #aaa8a8;
    }
}