*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    margin: auto;
    margin: 30px;
    border-radius: 10px;
    overflow: hidden;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

main img{
    margin-top: 10px;
}
main  h2{
    margin: 20px 0px;

}
main p{
    margin: 10px 0px 40px 0px;
    font-size: 20px;
    line-height: 26px;
}
main a{
    text-decoration: none;
    color: #fff;
    background-color: #fff;
    padding: 20px 30px;
    margin-top: 15px;
    border-radius: 35px;
    font-weight: bold;
}
.sedans{
    background-color: #E38525;
    padding: 30px;
    padding-bottom: 50px;
}
.sedans > a{
    color: #E38525;
}
.suvs{
    background-color: #016871;
    padding: 30px;
    padding-bottom: 50px;
}
.suvs > a{
    color: #016871;
}
.luxury{
    background-color: #003F3E;
    padding: 30px;
    padding-bottom: 50px;
}
.luxury > a{
    color: #003F3E;
}
@media screen and (min-width: 800px) {
    
    main{
        display: flex;
        flex-flow: row nowrap;
        width: 1000px;
        margin: auto;
        margin-top: 5%;
    }
    main p{
        margin-bottom: 80px;
    }
}