@charset "UTF-8";

@font-face {
    font-family: 'font-destaque';
    src: url('assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'font-normal';
    src: url('assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}
:root{
    --cor-de-fundo: #F6D050;
    --cor-de-destaque: #EFCB57;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: var(--cor-de-fundo);
    
}
main{
    background-color: #fff;
    margin: auto;
    margin-top: 40%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    box-shadow: 13px 14px 7px black;
    border-radius: 14px;
    border: 1px solid black;
}

main > section > img:first-child{
    border-radius: 14px;
}
.destaque{
    margin-top: 25px;
    font-family: font-destaque;
    padding: 10px;
    background-color: var(--cor-de-fundo);
    display: inline-block;
    border-radius: 3px;
    margin-bottom: 20px;
}
.date{
    margin-bottom: 20px;
    font-family: font-normal;
}
section  h1{
    font-family: font-destaque;
    font-size: 24px;
    margin-bottom: 20px;
}
.text{
    font-family: font-normal;
    font-size: 16px;
    color: rgb(88, 86, 86);
}
.autor{
    display: flex;
    margin-top: 25px;
    align-items: center;
}

.autor p{
    font-family: font-destaque;
    margin-left: 20px;
}

@media screen and (min-width: 480px) {
    main{
        width: 380px;
        margin: auto;
        margin-top: 8%;
        margin-bottom: 8%;
    }
}