*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #EFEFEF;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    margin: auto;
    margin: 50px 30px;
    overflow: hidden;
    border-radius: 10px;
}
.community{
    background-color: #fff;
    padding: 20px;
    padding-bottom: 40px;
}
.community h2{
    color: #2BB4B1;
    margin-top: 20px;
    margin-bottom: 25px;
}
#destaque{
    color: #BFE033;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    font-weight: bold;
}
.community p {
    color: rgb(141, 134, 134);
}
.subscription{
    background-color: #2BB4B1;
    padding: 20px;
    padding-bottom: 40px;
}
.subscription h2{
    color: #fff;
}
.subscription p{
    color: #fff;
    padding-bottom: 10px;
    font-size: 18px;
}
.container{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.subscription a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    background-color: #BEDF32;
    display: block;
    text-align: center;
    margin-top: 15px;
    border-radius: 8px;
}
#special{
    font-size: 50px;
    color: #fff;

}
span{
    font-size: 20px;
    margin-left: 15px;
    color: lightgray;
}
.why-us{
    background-color: #49BEBD;
    padding: 20px;
    padding-bottom: 40px;
}
.why-us h2{
    color: #fff;
    padding: 20px 0px;
}
.why-us ul {
    list-style: none;
    color: #D7D8DF;
    
}
.why-us li{
    padding-bottom: 5px;
}
@media screen and (min-width:800px) {
    main{
        width: 750px;
        margin: auto;
        margin-top: 5%;
    }
    .community{
        padding: 40px;
    }
    .community p{
        font-size: 20px;
        line-height: 28px;
    }
    .encapsulamento{
        display: flex;
    }
    .subscription{
        width: 50%;
        padding: 40px;
    }
    .why-us{
        width: 50%;
        padding: 40px;
    }
    .why-us h2{
        padding: 0px 0px 20px 0px;
    }
}