@font-face {
    font-family: font-padrao;
    src: url('fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        font-family: font-padrao;
}
.destaque{
    background: linear-gradient(#5D3FFA, #332EEA)  ;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 30px;
    padding-bottom: 45px;
    text-align: center;
    color: #fff;

}
.destaque p {
    font-size: 22px;
    color: rgba(240, 248, 255, 0.651);
}
.resultado{
    background-color: #3029ebd5;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    
}
#score{
    font-size: 70px;
     color: #fff;
    font-weight: bold;
}
section h1{
    padding: 20px;
}
.destaque p:last-child{
    font-size: 20px;
}
section h2 {
    padding: 20px;
}
.status{
    margin: 20px;
    width: 90%px;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    
}
.status img{
    margin-right: 10px;
}
#reaction{
    background-color: #FFF6F7;
    color: #6b474b;
}
#memory{
    background-color: #FFFAF5;
    color: #927b64;
}
#verbal{
    background-color: #F1FDF9;
    color: #5e9281;
}
#visual{
    background-color: #F4F5FF;
    color: #4f5383;
}
button{
    width: 90%;
    margin: auto;
    margin-left: 20px;
    background-color: #303B5A;
    color: #fff;
    border-radius: 45px;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (min-width: 480px) and (max-width:1200px) {
    body{
        background-color: #ECF3FF;
    }
    main{
        display: flex;
        margin: auto;
        margin-top: 25%;
        width: 750px;
       height: 480px;
        border: 1px solid #fff;
        border-radius: 30px;
        background-color: #fff;
    }
    .destaque{
        border-radius: 30px;
    }
    section h2 {
    padding-left: 20px;
    padding-top: 20px;
    }
    .status{
    margin: 20px;
    width: 350px;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    }
    button{
    width: 350px;
    margin: auto;
    margin-left: 20px;
    background-color: #303B5A;
    color: #fff;
    border-radius: 45px;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
}
}
@media screen and (min-width:1200px) {
    body{
        background-color: #ECF3FF;
    }
    main{
        display: flex;
        margin: auto;
        margin-top: 5%;
        width: 750px;
       height: 480px;
        border: 1px solid #fff;
        border-radius: 30px;
        background-color: #fff;
    }
    .destaque{
        border-radius: 30px;
    }
    section h2 {
    padding-left: 20px;
    padding-top: 20px;
    }
    .status{
    margin: 20px;
    width: 350px;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    }
    button{
    width: 350px;
    margin: auto;
    margin-left: 20px;
    background-color: #303B5A;
    color: #fff;
    border-radius: 45px;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
}
}


