@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}
main{
    margin: auto;
    background-color: white;
    margin-top: 20px;
    width: 90vw;
    border-radius: 10px;
    overflow: hidden;
    
}

#imagem{
    background-image: url("images/image-product-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 300px;
}
.espaco{
    letter-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(128, 128, 128, 0.651);
    font-size: 12px;
}
#dados{
    padding: 20px;
}
#dados > h1{
    font-size: 2em;
    font-weight: bolder;
    margin-top: 15px;
    margin-bottom: 20px;
}
#descricao{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(95, 95, 95, 0.774);
}
#price{
    color: green;
    font-weight: bolder;
    font-size: 2.5em;
    display: inline-block;
    font-family: "Yrsa", serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
#old-price{
    display: inline-block;
    position: relative;
    bottom: 8px;
    margin-left: 15px;
    color: #5d5d81;
}
.cart{
    background-color: rgba(4, 78, 4, 0.671);
    padding: 15px;
    color: white;
    border-radius: 5px;
    text-align: center;
}
.cart > a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    position: relative;
    bottom: 5px;
}

.cart:hover{
    background-color: rgb(21, 82, 16);
}

@media screen and (min-width:700px) {
    main{
        background-color: white;
        width: 700px;
        height: 500px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        margin: auto;
        top: 50px;
    }
    
    #imagem{
        position: absolute;
        float: left;
        height: 100%;
        width: 50%;
    }
    #dados{
       float: right;
        width: 360px;
    }
    .espaco{
        margin: 20px;
    }
    #dados > h1{
        margin: 20px;
        font-size: 2.8em;
    }
    #descricao{
        margin: 20px;
        font-size: 1.1em;
    }
    #price{
        margin-left: 20px;
    }
    #old-price{
        bottom: 6px;
    }
    .cart{
        margin-left: 20px;
        margin-right: 20px;
    }
}
